name: ci

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read
  pull-requests: read
  pages: write
  id-token: write

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}${{ github.event.pull_request.number }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

env:
  RUST_STABLE: 1.86.0
  RUST_NIGHTLY: nightly-2025-04-18

jobs:
  test:
    name: ${{ matrix.command }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        command: [test, fmt, clippy]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_NIGHTLY }}
          targets: wasm32-unknown-unknown,x86_64-unknown-linux-gnu
          components: clippy,rustfmt
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: just,wasm-pack
      - run: just ${{ matrix.command }}

  build:
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_STABLE }}
          targets: wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: just,trunk,wasm-pack
      - run: just build
      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist

  deploy:
    needs: [build]
    if: github.ref_name == 'master' && !cancelled()
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/deploy-pages@v4
        with:
          path: dist
